<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{props.title}}</title>
    </head>
    <body>
        <div id="contents">
            <p>{{props.msg}}</p>
        </div>
        <hr>
        <!--input id, password-->
        <form action="/register" method="POST">
            名前:<br>
            <input type="text" name="name" required><br>
            <p style="line-height: 3;"></p>
            年齢(100歳以上の方はお断りします):<br>
            <input type="tel" name="age" maxlength="2" required><br>
            <p style="line-height: 3;"></p>
            性別:<br>
            <select name="gender">
                <option value="男">♂</option>
                <option value="女">♀</option>
            </select>
            <p style="line-height: 3;"></p>
            パスワード(6~10文字以内):<br>
            <input type="password" name="pwd" min="6" max="10" required><br>
            <p style="line-height: 3;"></p>
            <input required type="submit" value="登録っっ('ω')ノ">
        </form>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </body>
</html>
