<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{props.title}}</title>
    </head>
    <body>
        <div id="contents">
            <p>{{props.msg}}</p>
            <div id="loginform">
            <form action="/login/try" method="POST">
                名前：<br>
                <input type="text" name="name" required><br>
                <p style="line-height: 3;"></p>
                パスワード:<br>
                <input type="password" name="pwd" minlength="6" maxlength="10" autocomplete="off" required><br>
                <p style="line-height: 3;"></p>
                <input type="submit" value="ログインっっ('ω')ノ">
            </form>
        </div>
        <hr>
        <a href="/">Home</a>
    </body>
</html>
