{%- extends "layout.html" %}
{%- block content %}
            <form action="/login/try" method="POST" class="login_form">
                名前：<br>
                <input type="text" name="name" required><br>
                <p style="line-height: 3;"></p>
                パスワード:<br>
                <input type="password" name="pwd" minlength="6" maxlength="10" autocomplete="off" required><br>
                <p style="line-height: 3;"></p>
                <input type="submit" value="ログインっっ('ω')ノ">
            </form>
            <div class="return_url">
            <a href="/">Home</a>
            </div>
{%- endblock %}
