{%- extends "layout.html" %}
{%- block content %}
        <!--カレンダーから日付を指定する-->
        <form action="/user/old_log" method="POST" class="set_date">
        <label for="start">日付を指定できます:</label>
            <input type="date" name="date" required pattern="\d{4}-\d{2}-\d{2}">
            <span class="validity"></span>
        </label>
        <input type="submit" value="done">
        </form>

        <!--指定した日付のタイムラインを表示する
        users_logテーブルからログインしているユーザ名,今日日付のレコード-->
        <h3>{{ name }}の{{ dt }}のタイムライン</h3>
        {% if timeline | length == 0 %}
        <p>記録がありません。</p>
        {% endif %}
        {% for i in timeline %}
        <ul class="user_log">
            <li>
                <div class="user_log-heading">
                    <!--<div class="log_date">{{ i[1] }}</div>-->
                    <p class="log_time">{{ i[2] }}</p>
                </div>
                <div class="memo">
                    <p>{{ i[0] }}</p>
                </div>
            </li>
        </ul>
        <!--memo-->

        <!--date-->

        <!--time-->

        {% endfor %}
        <div class="return_url">
        <a href="/user/home">もどる</a>
        </div>
{%- endblock %}
