<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{props.title}}</title>
    </head>
    <body>
        <div id="contents">
            <p>{{props.msg}}</p>
            <p>{{ name }}さん。記録しましょう。</p>
        </div>
        <hr>
        <!--現在時刻を取得し続ける-->
        <!--カレンダーから日付を指定する。デフォルトは今日-->
        <p id="RealtimeClockArea">※ここに時計が表示されます。</p>
        <hr>
        <!--テキスト欄。入力完了時、テーブルにレコードを追加する。
        レコード内容：name, text=XXXX, cast(now() as date), cast(now() as time)-->
        <form action="/user/add_log" method="POST">
            <textarea name="text" placeholder="行動を記録しましょう！" rows="4"></textarea>
            <br><br>
            <button type="submit">記録する('ω')</button>
        </form>
        <hr>
        <a href="/user/home">もどる</a>
    </body>
    <script>
    function set2fig(num) {
    // 桁数が1桁だったら先頭に0を加えて2桁に調整する
    var ret;
    if( num < 10 ) { ret = "0" + num; }
    else { ret = num; }
    return ret;
    }
    function showClock() {
    var nowTime = new Date();
    var nowHour = set2fig( nowTime.getHours() );
    var nowMin  = set2fig( nowTime.getMinutes() );
    var nowSec  = set2fig( nowTime.getSeconds() );
    var msg = "現在時刻は、" + nowHour + ":" + nowMin + ":" + nowSec + " です。";
    document.getElementById("RealtimeClockArea").innerHTML = msg;
    }
    setInterval('showClock()',1000);
    </script>
</html>
