{%- extends "layout.html" %}
{%- block content %}
            <table>
                <tr>
                    <th style="color: brown;">ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                </tr>
                <tr>
                    {% for col in user %}
                    <td style="color: darkgoldenrod;">{{ col }}</td>
                    {% endfor %}
                </tr>
            </table>
        </div>
        <hr>
        <a href="/users">Users List</a>
        <a href="/">Home</a>
{%- endblock %}
