{%- extends "layout.html" %}
{%- block content %}
        <div class="nowtime">
        <!--現在時刻を取得し続ける-->
        <!--カレンダーから日付を指定する。デフォルトは今日-->
        <p id="RealtimeClockArea">wait...</p>
        </div>
        <!--テキスト欄。入力完了時、テーブルにレコードを追加する。
        レコード内容：name, text=XXXX, cast(now() as date), cast(now() as time)-->
        <form action="/user/add_log" method="POST" class="add_log_form">
            <textarea name="text" placeholder="行動を記録しましょう！" rows="5" cols="50" minlength="1" required></textarea>
            <button type="submit">記録する('ω')</button>
        </form>
        <div class="return_url">
        <a href="/user/home">もどる</a>
        </div>
{%- endblock %}
